* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sKumbh Sans;
}
body {
  padding: 0 60px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 90px;
  padding-bottom: 40px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}
.firsts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.hamburger {
  display: none;
}
.logo {
  object-fit: contain;
}
.DivUl {
  display: none;
}
ul {
  display: flex;
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  margin-left: 25px;
  padding-bottom: 50px;
  color: hsl(223, 3%, 40%);
}
ul li a:hover {
  border-bottom: 4px solid hsl(26, 100%, 55%);
  color: #000000;
}

.cart {
  object-fit: contain;
  width: 20px;
  cursor: pointer;
  position: relative;
}
.number {
  position: absolute;
  right: 17%;
  top: 4%;
  background-color: hsl(26, 100%, 55%);
  object-fit: contain;
  padding: 1px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 8px;
}
.modalCart {
  background-color: #fff;
  z-index: 1;
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 7px;
  position: absolute;
  right: 10%;
  top: 12%;
}
.cartTopic {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #bab4b4;
  padding: 15px;
}
#modalCartInfo {
  border-bottom: 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptyMessage {
  border-bottom: 0;
}
.avatar {
  width: 40px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 50%;
}
.avatar:hover,
.avatar:active {
  border: 3px solid hsl(26, 100%, 55%);
}
.images {
  display: flex;
  gap: 2rem;
}
main {
  margin-top: 30px;
  padding: 0 90px;
  display: flex;
  gap: 8rem;
}
.image-1 {
  width: 350px;
  object-fit: contain;
  border-radius: 10px;
}
.content {
  padding-top: 60px;
}
h4 {
  color: hsl(26, 100%, 55%);
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
}
h2 {
  font-size: 30px;
  padding-bottom: 20px;
}
.para {
  color: hsl(219, 9%, 45%);
  font-size: 15px;
  width: 400px;
  padding-bottom: 20px;
  line-height: 1.5rem;
}
.main-money {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 10px;
}
.main-money-price {
  font-size: 20px;
  font-weight: 700;
}
.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
}
.former-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 12px;
  padding-bottom: 30px;
}
.payout {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.payout p {
  background-color: hsl(221, 46%, 92%);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  display: flex;
  gap: 1.4rem;
}
.payout img {
  cursor: pointer;
  object-fit: contain;
}
span:hover {
  opacity: 0.4;
}
.addItem {
  padding: 10px 50px;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border: 0;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
}
.addItem:hover {
  opacity: 0.8;
  box-shadow: 4px 18px 64px 0px rgba(255, 125, 26, 0.75);
  -webkit-box-shadow: 4px 18px 64px 0px rgba(255, 125, 26, 0.75);
  -moz-box-shadow: 4px 18px 64px 0px rgba(255, 125, 26, 0.75);
}
.cart-2 {
  width: 15px;
  margin-right: 4px;
  fill: white;
}
.littleImages {
  margin-left: 90px;
}
.littleImages img {
  width: 70px;
  object-fit: contain;
  margin-right: 25px;
  border-radius: 7px;
  cursor: pointer;
}
.littleImages img:hover {
  opacity: 0.5;
  /* border: 3px solid hsl(26, 100%, 55%); */
}
.active {
  opacity: 0.5;
  border: 3px solid hsl(26, 100%, 55%);
}
.notEmptyFirst {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.notEmpty button{
  padding: 10px 50px;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  border: 0;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
.notEmptyFirst .smallImageThumbnail {
  width: 35px;
  border-radius: 7px;
}
.notEmptyFirst p {
  border-bottom: 0;
  gap: 0;
  padding: 0;
}
.middle span {
  font-weight: 700;
}
.mainBigImages {
  position: fixed;
  top: 20%;
  left: 35%;
  border-radius: 10px;
  width: 400px;
  z-index: 2;
}
.exitButton{
  z-index: 3;
  position: fixed;
  top: 10%;
  right: 30%;
  width: 20px;
  cursor: pointer;
}
.leftArrow,
.rightArrow {
  fill: hsl(26, 100%, 55%);
  height: 10px;
  width: 10px;
  border-radius: 100%;
  object-fit: cover;
  z-index: 3;

}
.Arrow-div {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  top: 45%;
  right: 32%;
  z-index: 4;
  cursor: pointer;
}
.leftArrow-div {
  background-color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  top: 45%;
  left: 33%;
  z-index: 4;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  header {
    margin: 0;
    border-bottom: 0;
    padding: 0;
    background-color: #fff;
    height: 80px;
    padding: 20px;
  }
  .firsts {
    gap: 30px;
  }
  .DivUl {
    z-index: 5;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: block;
  }
  .DivUl img {
    margin: 25px;
    cursor: pointer;
  }
  ul {
    flex-direction: column;
    gap: 2rem;
    padding-top: 30px;
  }
  ul li a {
    color: #000000;
    font-weight: 700;
  }
  .ul-nav-pc{
    display: none;
  }
  .images {
    margin-left: 50px;
    gap: 1rem;
  }
  .cart {
    width: 15px;
  }
  .avatar {
    width: 20px;
  }
  main {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
  }
  .image-1 {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0;
  }
  .content {
    padding: 20px;
  }
  .para {
    width: 300px;
  }
  .payout p {
    padding: 15px;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    justify-content: space-between;
  }
  .payout {
    flex-direction: column;
    gap: 20px;
  }
  .addItem {
    padding: 15px 50px;
    width: 100%;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
  }
  .former-price {
    padding-bottom: 5px;
    align-self: center;
  }
  .littleImages img {
    display: none;
  }
  .modalCart {
    width: 90%;
    position: absolute;
    top: 100px;
    left: 20px;
  }
  #modalCartInfo {
    height: 200px;
  }
  .middle{
   line-height: 1.3rem;
  }

  .mainBigImages {
    position: relative;
    top: 0;
    left: 0%;
    border-radius: 0;
    width: max-content;
    z-index:20;
    width: 100vw;
  }
  .mainBigImage{
    display: none;
  }
  .big-images{
    display: none;
  }
  .cartTopic {
    padding: 20px;
    font-weight: 700;
  }
  .notEmpty button{
    padding:15px 50px;
    margin-top: 20px;
  }
  .notEmptyFirst {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .middle{
    font-size: 15px;
  }
  .para {
    font-size: 19px;
    width: fit-content;
    padding-bottom: 30px;
    line-height: 2rem;
  }
  .Arrow-div {
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 20;

  }
  .leftArrow-div {
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 20;
  }
  .leftArrow,
.rightArrow {
  background-color: #fff;
}
.exitButton{
  display: none;
}

}
